nav{
    /* background: rgb(255,111,0); */
    
    /* background: linear-gradient(180deg, rgba(255,111,0,1) 0%, rgba(250,241,105,1) 85%);  */
    height: 180px;
}

.refeer{
    color: black;
    cursor: pointer;
    transition: 100ms;
    width: 200px;
    text-decoration: none;
    background-color: #FCAF3C;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.refeer:hover{
    scale: 1.1;
    cursor: pointer;
}

.imgLogo{
    width: 120px;
    height: 120px;
}
.upperNav{
    display: flexbox;
    flex-direction: row;
    justify-content: baseline;
}
.contentNav{
    margin-top: 5px;
}

.navElement{
    cursor: pointer;
    transition: 120ms;
}

.navElement:hover{
    transform: scale(1.2);
}

.linkDecoration{
    text-decoration: none;
    color: white;
    border-radius: 20px;
}
.linkDecoration:hover{
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(192, 192, 192);
}
.navBg{
    background: rgb(0,73,182);
    background: linear-gradient(180deg, rgba(0,73,182,1) 0%, rgba(128,128,128,0.41778718323266806) 85%);
}