.deployment{
    height: 730px;
}

.containerLeftUp{
    align-self: flex-start;
}
.containerLeftLower{
    align-self: flex-start;
}
.containerRight{
    background-color: black;
}
.textResume{
    font-size: 28px;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}